{% extends 'base.html.twig' %}

{% block title %}GAME {{ game.id }}{% endblock %}

{% block body %}
    <div class="container">

        {{ dump(game) }}
        <div class="plate container">
            {% for col in game.grid %}
                <div class="column">
                    {% for row in col %}

                        {% if row is same as('empty') %}
                            {% set class = 'empty'  %}
                        {% else %}
                            {% set class = (game.player1.id) is same as (row.id) ? 'player1' : 'player2' %}
                        {% endif %}

                        <div class="plate-row {{ class }}"></div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>


        <div class="container">
            {% if app.user is same as(game.whosTurn) %}
                <form method="post" action="{{ path('game_turn') }}">
                    <input type="radio" id="col1" checked name="col" value="1">
                    <label for="col1">1</label>
                    <input type="radio" id="col2" name="col" value="2">
                    <label for="col2">2</label>
                    <input type="radio" id="col3" name="col" value="3">
                    <label for="col3">3</label>
                    <input type="radio" id="col4" name="col" value="4">
                    <label for="col4">4</label>
                    <input type="radio" id="col5" name="col" value="5">
                    <label for="col5">5</label>
                    <input type="radio" id="col6" name="col" value="6">
                    <label for="col6">6</label>
                    <input type="radio" id="col7" name="col" value="7">
                    <label for="col7">7</label>
                    <input type="hidden" name="id" value="{{ game.id }}"/>
                    <button class="btn-primary btn mt-5 mb-5" type="submit">PLAY</button>
                </form>
            {% elseif ((app.user is same as(game.player1)) or (app.user is same as(game.player2)))  %}
                <h2>ATTEND TON TOUR</h2>
            {% else %}
                <h2>TU ES SPECTATEUR</h2>
            {% endif %}

        </div>

    </div>
{% endblock %}
